.trend-card {
  border-radius: var(--borderRadius-lg);
  box-shadow: var(--shadow-sm);
  .Tooltip-handle {
    text-decoration-thickness: 0.1px !important;
  }
  .token-base-info {
    img {
      border-radius: var(--borderRadius-md);
    }
  }
}

@media (max-width: 1100px) {
  .trend-card {
    width: 100% !important;
  }
}

.align-right {
  text-align: right;
}