.sub-menu-coming-soon-tooltip {
  .Tooltip-handle {
    text-decoration: none !important;
  }
}
.aggregator-swap-page {
  border-radius: 4px;
  padding-bottom: 12px;
  .button:disabled {
    background-color: var(--color-button-disable);
    color: var(--color-text-primary);
  }

  .aggregator-tab-1 {
    .Tab-option {
      height: 59px;
      gap: 16px;
      font-family: Poppins-Medium;
      font-size: 14px;
      color: var(--color-text-secondary);
      cursor: pointer;
      background-color: var(--color-bg-base);
    }
    .active-aggregator-tab-swap {
      border-radius: 4px 0px 0px 0px;
      background: var(--color-bg-main);
      color: var(--color-text-primary);
    }
    .active-aggregator-tab-bot {
      border-radius: 0px 4px 0px 0px;
      background: var(--color-bg-base);
      color: var(--color-text-primary);
    }
  }

  .aggregator-tab-sub {
    font-family: Poppins-Medium;
    font-size: 12px;
    color: var(--color-text-disable);
    cursor: pointer;
    .active-aggregator-sub-tab {
      position: relative;
      color: var(--color-text-primary);
      // &::after {
      //   content: "";
      //   position: absolute;
      //   width: 100%;
      //   left: 0px;
      //   background-color: rgb(0, 119, 48) !important;
      //   bottom: -5px !important;
      //   height: 2px !important;
      // }
    }
  }

  .swap-icon {
    width: 100%;
    position: relative;
    .swap-icon-img {
      position: absolute;
      margin-left: calc(50% - 15px);
      margin-top: -12px;
      z-index: 999;
      cursor: pointer;
    }
  }

  .aggregator-token-view {
    border-radius: 0px 0px 4px 4px;
    opacity: 0.95;
    background: var(--color-bg-sub);
    margin-top: 6px;
  }

  .aggregator-token-input {
    border-radius: 4px 4px 0px 0px;
    background: var(--color-bg-sub);
    border: 1px solid transparent;
    &:focus {
      box-shadow: var(--shadow-md);
      border: 1px solid var(--color-border);
    }
    &:focus-within {
      box-shadow: var(--shadow-md);
      border: 1px solid var(--color-border);
    }
    &:hover {
      box-shadow: var(--shadow-md);
      border: 1px solid var(--color-border);
    }
    .max-input {
      border-radius: 4px;
      background: color-mix(in srgb, var(--color-primary) 20%, transparent);
      padding: 3px 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--color-text-secondary);
      font-family: Poppins-Medium;
      font-size: 10px;
      font-style: normal;
      cursor: pointer;
    }
  }

  .aggregator-swap-info {
    width: calc(100% - 28px);
  }
}

.expiry-btn {
  border-radius: 4px;
  width: 6rem;
  height: 24px;
  border: 1px solid var(--color-disabledBorder);
  cursor: pointer;
}
.expiry-btn-active {
  background: var(--color-primary);
  // color: var(--color-white);
  color: var(--color-black);
}

.market-quick-btn {
  border-radius: 4px;
  width: 4.6rem;
  height: 24px;
  border: 1px solid var(--color-disabledBorder);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.token-list {
  .active-tab {
    border-radius: 6px 6px 0px 0px;
    background: var(--color-bg-main) !important;
    color: var(--color-text-primary) !important;
    height: 5.3rem;
  }
}

.active-list-tab {
  color: var(--color-text-primary) !important;
  border-radius: 4px 4px 0px 0px;
  background: var(--color-bg-main);
}
