.tactics-list {
  .tactics-tab {
    display: flex;
    padding: 5px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    font-family: Poppins-Regular;
    color: var(--color-text-secondary);
  }
  .active-list-tab {
    background: var(--color-bg-sub);
    color: var(--color-text-primary);
    font-size: var(--fontSize-sm);
  }
}

.sub-orders-btn {
  .tactics-tab-btn {
    display: flex;
    padding: 5px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    font-family: Poppins-Regular;
    color: var(--color-text-secondary);
  }
  .active-list-tab-btn {
    background: var(--color-tertiary);
    color: var(--color-text-primary);
    font-size: var(--fontSize-sm);
  }
}

.order-list-table {
  .order-history-pagination {
    .pagination-buttons {
      .btn-default {
        font-size: var(--fontSize-sm);
        width: 2.2rem;
      }
      .pagination-btn {
        color: var(--color-text-tertiary) !important;
      }
      .active {
        border-color: var(--color-text-tertiary) !important;
      }
    }
  }
  .no-underline {
    text-decoration-line: none !important;
  }
  .token--table {
    border-collapse: separate;
    border-spacing: 0 7px;
  }
  .table-head {
    color: var(--color-text-disable);
    font-size: var(--fontSize-sm);
    font-family: Poppins-Regular;
    padding-top: 21px;
    padding-bottom: 12px;
  }
  .link-btn-border {
    border-radius: var(--borderRadius-md);
    border: 1px solid var(--color-text-secondary);
  }
  td {
    background-color: var(--color-bg-sub);
    height: 60px;
  }

  .completed .Tooltip-handle {
    text-decoration-thickness: 0.1px !important;
    text-decoration-color: var(--color-info) !important;
  }
}
.orders-btn {
  color: var(--color-text-primary) !important;
  border-radius: 4px 4px 0px 0px;
  background: var(--color-bg-main);
}
.orders-btn .Tooltip-handle {
  text-decoration-thickness: 0.1px !important;
  text-decoration-color: var(--color-web3-green) !important;
}

.table-wrapper {
  display: block;
  width: 100%;
  font-size: var(--fontSize-sm);
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 220px;
  max-height: none;
  .Tooltip-handle {
    text-decoration-color: var(--color-text-disable) !important;
  }
  .pagination {
    justify-content: center;
    margin-top: 10px;
    .secondary {
      font-size: var(--fontSize-sm);
      width: 24px;
      height: 24px;
      padding: 0;
    }
    .pagination-btn.active {
      border-color: var(--color-text-secondary);
    }
    .pagination-btn {
      color: var(--color-text-secondary);
    }
  }
}

@media (max-width: 800px) {
  .table-wrapper {
      overflow-x: auto;
  }
}